.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;
    font-family: 'Ubuntu', sans-serif;
}

.Header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NumListLabel {
    margin: 0;
}

.ListContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.UserList {
    height: 40vh;
    width: 30vw;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}